/*This is main style file*::after

/*colour scheme
purple #7630D9
matt pink #FEB8C2
blackberry yoghurt #E7BADB
fringy flower #B4E4BA
frosty day #C2EEF7
twinkling lights #FFFAC3
white #FFFFFF
black #000000
*/

h1{
  color: #7630D9;
  font-size: 50px;
}

h2{
  color: #7630D9;
}
p{
  color:#000;
}

.bg-purple{
  background-color:#B17BD5;
  padding:20px;
  margin:5px;
}
.bg-purplyblue{
  background-color:#7630D9;
  padding:20px;
  margin:5px;
}
.bg-pink{
  background-color:#F06BF2;
  padding:20px;
  margin:5px;
}

.bg-mattpink{
  background-color:#FEB8C2;
  padding:20px;
  margin:5px;
}

.bg-blackberryyoghurt{
  background-color:#E7BADB;
  padding:20px;
  margin:5px;
}

.bg-fringyflower{
  background-color:#B4E4BA;
  padding:20px;
  margin:5px;
}

.bg-frostyday{
  background-color:#C2EEF7;
  padding:20px;
  margin:5px;
}

.bg-twinklinglights{
  background-color:#FFFAC3 ;
  padding:20px;
  margin:5px;
}


nav{
  background-color:#FEB8C2;
  border:1px solid #dedede;
  color:#ffffff;
  display:block;
  overflow:hidden;
  width:100%;
}

nav ul li{

  display:inline-block;
  list-style-type:none;
}

nav ul li a{
  color:#000
  display: block;
  line-height:56px;
  text-decoration:none;
  padding:10px;
}

nav ul li:hover{
  background-color: #511C9B;
}

nav ul li:hover a{
  color:#CC0000;
}

footer{
  background-color:#FEB8C2;
  color:#ffffff;
  text-align:center;
  padding:3px;
}


table, th, td {
  border: 3px solid;
  border-color: #ffffff;
}

table {
 border-collapse: collapse; 
width: 35%;
}
td{
  text-align: center;
}

td, tr{
  padding: 15px;
  margin: 10px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}


